@font-face {
    font-family: roboto;
    src: url(../../complementos/font/roboto/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: nunito;
    src: url(../../complementos/font/Nunito/Nunito-Regular.ttf);
}

:root{
    --primary-color: #00868A;
    --secondary-color: #FAEED2;
    --third-color: #7897AB;
    --fourth-color: #D885A3;
    --fifth-color: #cececeff;
    --heigth-nav: 3.6rem;
    --font-header: roboto;
    --font-body: nunito;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

nav{
    background-color: var(--primary-color);
}

nav a{
    color: var(--secondary-color);
    font-family: roboto;
    font-size: 1.5rem;
}

.menu_items{
    background-color: var(--primary-color);
}

.menu_items ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu_items ul li a{
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-family: var(--font-body);
}

#map{
    height: calc(100vh - var(--heigth-nav));
    background-color: var(--third-color);
}


/*max value z-index in css leaflet is 1000*/
.sidebar{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100vw;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    padding-top: 1rem;
}

.sidebar .header_sidebar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-family: var(--font-header);
}

#geolocation{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#geolocation button{
    width: 70%;
    align-self: center;
    font-size: 1.2rem;
    font-family: var(--font-body);
    padding-top: .7rem;
    padding-bottom: .7rem;
    border-radius: .4rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#geolocation button.active:hover{
    background-color: var(--fourth-color);
    color: var(--secondary-color);
    border-style: none;
    font-weight: 700;
    box-shadow: .2rem .2rem .3rem .2rem;
}

.sidebar button i{
    padding-right: .4rem;
}



.hide{
    display: none;
}

@media (max-width: 576px){
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: var(--heigth-nav);
    }

    .menu_items ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu_items ul li{
        padding-top: .7rem;
        padding-bottom: .7rem;
    }

    .menu_items ul li:hover{
        background-color: var(--secondary-color);
    }
    
    .menu_items ul li:hover a{
        color: var(--primary-color);
    }

    .menu_items ul li a b{
        font-weight: normal;
    }

    .hide_menu{
        display: none;
    }
}

@media (min-width: 576px){
    main{
        width: 100vw;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: var(--primary-color);
        height: var(--heigth-nav);
    }

    .menu_items ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    
    .menu_items ul li{
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .menu_items ul li a{
        color: var(--fifth-color);
    }
    
    .menu_items ul li:hover a{
        color: var(--secondary-color);
        font-weight: 700;
    }

    #burge_icon, #items_legend{
        display: none;
    }
}

@media ((min-width: 576px) and (max-width: 950px)){
    .items_content{
        display: none;
    }
    
    .menu_items ul li:hover a b.items_content{
        display: inline;
    }
}