@font-face {
    font-family: roboto;
    src: url(../../complementos/font/roboto/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: nunito;
    src: url(../../complementos/font/Nunito/Nunito-Regular.ttf);
}

:root{
    --primary-color: #00868A;
    --secondary-color: #FAEED2;
    --third-color: #7897AB;
    --fourth-color: #D885A3;
    --fifth-color: #cececeff;
    --heigth-nav: 3.6rem;
    --font-header: roboto;
    --font-body: nunito;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

nav{
    background-color: var(--primary-color);
}

nav a{
    color: var(--secondary-color);
    font-family: roboto;
    font-size: 1.5rem;
}

.menu_items{
    background-color: var(--primary-color);
}

.menu_items ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.menu_items ul li a{
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-family: var(--font-body);
}

.menu_items ul li a b{
    cursor: default;
}

#map{
    height: calc(100vh - var(--heigth-nav));
}


/*max value z-index in css leaflet is 1000*/
.sidebar{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100vw;
    max-width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    padding-top: 1rem;
}

.sidebar .header_sidebar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-family: var(--font-header);
}

.sidebar .header_sidebar .btn_close_sidebar:hover{
    color: var(--fourth-color);
}

.sidebar button i{
    padding-right: .4rem;
}

.geolocation,
.config_asic,
.legend,
.information{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.geolocation button{
    width: 70%;
    align-self: center;
    font-size: 1.2rem;
    font-family: var(--font-body);
    padding-top: .7rem;
    padding-bottom: .7rem;
    border-radius: .4rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.geolocation button.active:hover{
    background-color: var(--fourth-color);
    color: var(--secondary-color);
    border-style: none;
    font-weight: 700;
    box-shadow: .2rem .2rem .3rem .2rem;
}

.geolocation button:disabled{
    background-color: var(--fifth-color);
}

button b{
    font-weight: normal;
}

.wallpaper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1080;
    background-color: rgba(0, 0, 0, .5);
}

.config_asic .items{
    align-self: center;
    width: 70%;
    text-align: center;
}


.sidebar_checked{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#config_asic_text{
    font-size: 1.2rem;
    font-family: var(--font-body);
}

/* The switch - the box around the slider */
.config_asic .items .switch{
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 2.3rem;
}

/* Hide default HTML checkbox */
.config_asic .items .switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.config_asic .items .switch .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--fifth-color);
    transition: .4s;
}

.config_asic .items .switch .slider:before{
    position: absolute;
    content: "";
    height: 1.8rem;
    width: 1.8rem;
    left: .3rem;
    bottom: .3rem;
    background-color: var(--secondary-color);
    transition: .4s;
}

.config_asic .items .switch input:checked + .slider{
    background-color: var(--primary-color);
}

.config_asic .items .switch input:focus + .slider{
    box-shadow: 0 0 .2rem var(--primary-color);
}

.config_asic .items .switch input:checked + .slider:before{
    transform: translateX(2.4rem);
}

/* Rounded sliders */
.config_asic .items .switch .slider.round{
    border-radius: 2.15rem;
}

.config_asic .items .switch .slider.round:before{
    border-radius: 50%;
}

.legend .items{
    align-self: center;
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.legend .items img{
    width: 2.5rem;
    height: 2.5rem;
}

.legend .items b{
    font-weight: normal;
    font-size: 1.2rem;
    font-family: var(--font-body);
}

.information .body{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.information .body .items{
    align-self: center;
    width: 70%;
}

.information .body .items p{
    text-align: justify;
    font-size: 1rem;
    font-family: var(--font-body);
}

.information .body .items p a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
}

.information .body .items p a:hover{
    color: var(--fourth-color);
}

.information .body aside{
    align-self: center;
    width: 90%;
    max-height: 80vh;
    border: .2rem solid var(--fifth-color);
}

.information .body aside ul{
    list-style: none;
    padding: 0px .8rem;
}

.information .body aside ul li{
    padding: .5rem;
    text-align: justify;
    font-size: 1rem;
    font-family: var(--font-body);

    border-top: .1rem solid var(--fifth-color);
    border-bottom: .1rem solid var(--fifth-color);
    border-left: .15rem solid var(--fifth-color);
    border-right: .15rem solid var(--fifth-color);
}

.information .body aside ul li:first-child{
    border-top: .15rem solid var(--fifth-color);
}

.information .body aside ul li:last-child{
    border-bottom: .15rem solid var(--fifth-color);
}

.information .body aside ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}

.information .body aside ul li a:hover{
    color: var(--fourth-color);
    font-weight: 700;
}

.information .body footer{
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.information .body footer div span{
    font-family: var(--font-body);
}

.information .body footer div a:first-child{
    margin-right: .5rem;
}

.information .body footer div a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.information .body footer div a:hover{
    color: var(--fourth-color);
}

.hide{
    display: none;
}

.fade_in_color{
    animation: fade_in_color 2s infinite;
}

@keyframes fade_in_color{
    0% {color: var(--secondary-color);}
    50% {color: var(--primary-color);}
    100% {color: var(--secondary-color)}
}

@media (max-width: 576px){
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: var(--heigth-nav);
    }

    .menu_items ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu_items ul li{
        padding-top: .7rem;
        padding-bottom: .7rem;
    }

    .menu_items ul li:hover{
        background-color: var(--secondary-color);
    }
    
    .menu_items ul li:hover a{
        color: var(--primary-color);
    }

    .menu_items ul li a b{
        font-weight: normal;
    }

    .hide_menu{
        display: none;
    }
}

@media (min-width: 576px){
    main{
        width: 100vw;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: var(--primary-color);
        height: var(--heigth-nav);
    }

    .menu_items ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
    
    .menu_items ul li{
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .menu_items ul li a{
        color: var(--fifth-color);
    }
    
    .menu_items ul li:hover a{
        color: var(--secondary-color);
        font-weight: 700;
    }

    #burge_icon, #items_legend{
        display: none;
    }
}

@media ((min-width: 576px) and (max-width: 950px)){
    .items_content{
        display: none;
    }
    
    .menu_items ul li:hover a b.items_content{
        display: inline;
    }
}